// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// REQUEST PRODUCT - CONTACT PAGE
body {
    max-width: 100%;
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#logo {
  font-family: distant_stroke;
  font-size: 90px;
  color: #fff;
  margin: 0 15px;
}

hr {
  width: 80%;
  margin-top: 20px;
}

.page_wrapper {
  margin: 0;
}

.sidebar {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  opacity: .9;
}

.filter_select_container {
  width: 100%;
  margin: 10%;
  hr {
    margin: 0;
  }
}

.contact_link {
  position: relative;
  bottom: 0;
  z-index: 100;
  color:#fff;
  text-decoration: none;
  button {
    margin-bottom: -30px;
    background: none;
  } :hover {
      text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
      color: #222;
  }
}

.contact_text {
  position: absolute;
  top: 200px;
  left: 290px;
  font-family: vonique64;
  img {
    height: 100px;
    width: 150px;
  }
}

.bootstrap-iso {
  position: relative;
  left: 600px;
  top: 100px;
  label, span, input {
    font-size: 16px;
  }
} 

.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
    // font-family: Arial, Helvetica, sans-serif; 
    font-family: vonique64;
}

.bootstrap-iso form button, .bootstrap-iso form button:hover {
  color: white !important;
} 

.my-btn {
  background-color: #000;
}

.asteriskField { 
  color: red;
}

.notice {
  position: absolute;
  left: 620px;
  top: 50px;
  font-size: 16px;
  width: 400px;
  padding: 5px;
  text-align: center;
  background-color: lightgreen;
  border-radius: 5px;
  border: 1px solid grey;
}

.error {
  position: absolute;
  left: 620px;
  top: 50px;
  font-size: 16px;
  width: 400px;
  padding: 5px;
  text-align: center;
  background-color: lightred;
  border-radius: 5px;
  border: 1px solid grey;
}


