@font-face {
  font-family: distant_stroke;
  src: url('fonts/distant_stroke.otf');
}

@font-face {
  font-family: vanity_light;
  src: url('fonts/vanity_light.otf');
}

@font-face {
  font-family: vanity_light_narrow;
  src: url('fonts/vanity_light_narrow.otf');
}

@font-face {
  font-family: vanity_light_wide;
  src: url('fonts/vanity_light_wide.otf');
}

@font-face {
  font-family: vonique64;
  src: url('fonts/vonique64.ttf');
}
