@font-face {
  font-family: distant_stroke;
  src: url('distant_stroke.otf');
}

@font-face {
  font-family: vanity_light;
  src: url('vanity_light.otf');
}

@font-face {
  font-family: vanity_light_narrow;
  src: url('vanity_light_narrow.otf');
}

@font-face {
  font-family: vanity_light_wide;
  src: url('vanity_light_wide.otf');
}

@font-face {
  font-family: vonique64;
  src: url('vonique64.ttf');
}
