// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  #rightContainer {
    /*border: 1px solid black;*/
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom:0px;
      #image {
        /*border: 1px solid red;*/
        width: 800px;
        height: 80%;
        position: absolute;
        top: 0%;
        right: 0px;
          img {
            /*border:1px solid green;*/
            position: relative;
            z-index: 0;
            transform: translate(30%);

            max-width: 130%;
            max-height: 100%;
          }
      }
  }

  #link {
    /*border: 1px solid black;*/
    position: relative;
    text-align: center;
    padding-right: 5%;
      span {
        font-size: 15px;
        font-family: Zapfino;
      }
  }

#logo5 {
  /*border: 1px solid black;*/
  position: relative;
  z-index: 1;
  float: right;
  margin-top: 50px;
  margin-right: 100px;
  font-family: Zapfino;
  font-size: 50px;
}


  #leftContainer {
    /*border: 5px solid gray;*/
    background-color: black;
    opacity: 0.9;
    height: 100%;
    width: 120%;
    position: absolute;
    left: -60%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    box-shadow: 10px 0px 50px black;
    transform: skewX(-35deg);
    transition: width 2s;
    text-align: right;
    padding-right: 25%;
      #descriptionBox {
        transform: skewX(35deg);
        border:1px solid white;
        h1, h3 {
          color:white;
        }
      }
  }

  #rightContainer:hover + #leftContainer{
    width: 100%;
  }

  /* =========fade in intro on load of page============= */

  .logo {
    transform: skewX(35deg);
    stroke: white;
    fill: white;
  }

  #text {
    /*border:1px solid red;*/
    width: 400px;
    position: absolute;
    color: yellow;
    top: 40%;
    text-align: right;
    right: 190px;
    font-size: 15px;
    transform: translate(0%);
    transition: transform 2s;
  }

  #rightContainer:hover + #leftContainer > #text{
    transform: translate(35%);
  }

  #intro {
    /*border: 1px solid black;*/
    background-color:black;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    width: 100%;
  }

  .laced {
    fill: white;
    stroke: Ghostwhite;
    stroke-width: 0.5px;
    animation: variable 3s linear;
  }

  @keyframes variable {
    from {
      fill-opacity:0;
      stroke-dasharray: 600;
    }
    to {
      fill-opacity: 1;
      stroke-dasharray: 200;
    }
  }
/* ============================================= */
