<!-- HOME/LANDING PAGE -->
<!-- FEATURED PRODUCTS CAROUSEL -->



<div class="grid">

  <div class="grid-item"><%= image_tag("http://41.media.tumblr.com/tumblr_m5wb2lom6X1rz6b7fo1_500.jpg", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>


</div>